body {
  background-color: rgb(44, 186, 231);
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* height: 100vh; */
  padding: 15px;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.div-product {
  border: 3px solid white;
  width: 400px;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
}



.hidden {
  display: none;
}

button {
  color: white;
  border: 2px solid white;
  background-color: rgb(44, 186, 231);
  border-radius: 5px;
  text-align: center;
  font-size: 1.02em;
  font-weight: bold;
  margin-right: 7px;
  transition: 0.2s ease-in-out;
}

button:hover {
  background-color: white;
  color: rgb(44, 186, 231);
}

p {
  font-size: 1.06em;
}

.home {
  text-decoration: none;
  color: inherit;
  font-size: larger;
  border: 3px solid white;
  padding: 5px;
  max-width: fit-content;
  margin-bottom: 9px;
  margin-top: 10px;
}

.home:hover {
  background-color: white;
  color: rgb(44, 186, 231);
}




